<template name="header">
  <!-- Search Results -->
  <div id='search-result-wrapper'>

    <!-- {{#if searchingInHeader}} -->
    <!-- <div id='search-results' class="dropdown dropdown-example">

                                    <ul id='search-result-ul' class="dropdown-menu" role="menu">
  <li> <i class='fa fa-search'></i> BUSCANDO</li>
                                      {{#EasySearch.Each index=headerIndex }}
                                        {{#if oneFound}}
                                          {{> Search_fast_result}}
                                          {{else}}
                                          {{> Search_result_item}}
                                        {{/if}}
                                      {{/EasySearch.Each}}



                                    </ul>
                                </div> -->
                                <!-- {{#EasySearch.IfNoResults index=index }} -->
                                <!-- {{nothingFoundAlert}} -->
                                <!-- <li class='h-bg-orange'><a href="../show-{{actodeType}}/{{_id}}"> -->
                                <!-- <div class="panel-body note-link"> -->
                                                            <!-- No existe nada con ese nombre! -->
                                                        <!-- </div> -->
                                                      <!-- </a></li> -->
                                                      <!-- <div class="hpanel"> -->
              <!-- <div class="panel-body float-e-margins"> -->
                  <!-- <div class="wrapper"> -->
                      <!-- <div class="row color-demo"> -->
                          <!-- <div class="header-line h-bg-orange">
                              <div>No existe nada con ese nombre!<span>Proba con otra palabra.</span></div>
                          </div> -->
                      <!-- </div> -->
                  <!-- </div> -->
              <!-- </div> -->

                                <!-- {{/EasySearch.IfNoResults}} -->

                                <!-- {{/if}} -->
  </div>

    <div id="header" class='hidden-print'>

      <!-- <div class="color-line">
      </div> -->
      <!-- {{#if logo}}
        <div id="logo" class="light-version">
          <span>
            <a href="./">
              <img src="{{logo}}" alt="" class='logo-15'/>
            </a>
          </span>
        </div>
      {{/if}} -->
      <div id="logo" class="light-version">
          <span class="text-primary">{{appname}}</span>
          <span class="text-muted"> >
            {{workingFor.name}}
          </span>
      </div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            <div class="small-logo">
                <span class="text-primary">{{appname}}</span>
                <span class="text-muted"> >
                  {{workingFor.name}}
                </span>
            </div>


            <form data-action='header--form' role="search" class="navbar-form-custom" method="post" action="#">
                <div data-action='header-search' class="form-group">
                  {{> EasySearch.Input index=headerIndex attributes=headerInputAttributes noDocumentsOnEmpty='true' }}
                    <!-- <input type="text" placeholder="Busca lo que quieras" class="form-control" name="search"> -->
                </div>

            </form>

            <div class="mobile-menu">


                <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="collapse mobile-navbar" id="mobile-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="" href="{{pathFor 'login'}}"><span class='text-primary'> <i class='fa fa-sign-in'></i> </span></a>
                        </li>
                        <li>
                            <a class="" href="{{pathFor 'home'}}"><span class='text-primary'> <i class='fa fa-tachometer'></i> </span></a>
                        </li>
                        <li>
                            <a class="js-logout" href="{{pathFor 'exit'}}">  <span class='text-primary'><i class='fa fa-sign-out'></i>  </span></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <!--<li class="dropdown">-->
                    {{#if theme 'dark'}}
                    <li >
                        <a class="dropdown js-light" href="#" >
                          <i class='fa fa-sun-o'></i>
                        </a>
                    </li>
                    {{else}}
                    <li >
                        <a class="dropdown js-dark" href="#" >
                          <i class='fa fa-moon-o'></i>
                        </a>
                    </li>
                    {{/if}}


                    <li >
                        <a class="dropdown" href="{{pathFor 'home'}}" >
                          <i class='fa fa-tachometer'></i>
                        </a>
                    </li>


                    <li class='dropdown'>
                        <a href='{{pathFor 'exit'}}'>
                          <i class='fa fa-sign-out'></i>
                            <!-- <span class='font-light'><small>{{_ "Log out"}}</small>  </span> -->

                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>




</template>
