<template name="navigation">
  {{#if Template.subscriptionsReady}}




    <aside id="menu">
        <div id="navigation" class='hidden-print'>
            <div class="profile-picture">
                <!-- <a href="./">
                    <img src="images/profile.jpg" class="img-circle m-b" alt="logo">
                </a> -->

                <div class="stats-label text-color">
                    <span class=" text-left"> {{relatedPerson}}</span>
                    <!--<button data-action='loginWithFacebook' class='btn btn-default'>Login with Facebook</button>-->
                </div>
                <br>


                <div class="dropdown  pull-left">
                  <button class="dropdown-toggle btn btn-default js-show-jobs" data-toggle="dropdown">
                    <small class="text-info"> {{_ "Options"}} <b class="caret"></b></small>
                  </button>
                    <ul class="dropdown-menu animated flipInY m-t-xs">
                      <!-- <li><a class='btn btn-default pull-left' href="#">{{_ "Change password"}}</a></li> -->
                        {{#each job in user.jobs}}
                          <li class='text-left'  >
                            <button class="js-workfor btn btn-default btn-xs" id='{{@index}}' relid='{{job.relId}}'>
                               {{job.companyName}}
                            </button>
                          </li>
                          <br>
                        {{/each}}
                        <hr>
                        <!-- <li><a class='btn btn-default' data-action='logout' href="#">Salir</a></li> -->
                    </ul>
                </div>
                <br>
                <br>


                <div>
                  <a class='btn btn-default pull-left' href="{{pathFor 'Profile.show'}}"><i class='fa fa-pencil'>  </i><small>  {{_ "Edit profile"}}</small></a>
                  <!-- <a class='js-reset btn btn-default' href="#"><i class='fa fa-pencil'>  </i><small>  Mandar email olvido</small></a> -->

                </div>







            </div>




        </div>
    </aside>
  {{else}}
  Cargando datos...

    {{/if}}
</template>
